Repository terraform-azurerm-examples/terraform-enterprisescale-bootstrap: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/aci-build-agent.yml, .azure-pipelines/tf-plan-apply-prod.yml

.azure-pipelines/aci-build-agent.yml:
  schedules:
  - cron: 0 0 * * 1
    displayName: Weekly security patch update every Monday at midnight UTC
    branches:
      include:
      - main
    always: true
  stages:
  - stage: acr
    displayName: Image build and push to ACR
    jobs:
    - job: imagebuildandpush
      displayName: Image build and push to ACR
  ...

.azure-pipelines/tf-plan-apply-prod.yml:
  stages:
  - stage: plan
    displayName: Terraform plan
    jobs:
    - job: tfplanjob
      displayName: Terraform plan job
      pool: ''
      steps:
      - script: 'echo "Source branch not main or pipeline has been triggered manually. Only Main can be merged into Dev."
  
          exit 1
  
          '
  ...

Add TFE_PARALLELISM
  buildagent/Dockerfile
Due: .azure-pipelines/aci-build-agent.yml, .azure-pipelines/tf-plan-apply-prod.yml

fmt
  bootstrap/azurerm_container_group.tf
Due: .azure-pipelines/tf-plan-apply-prod.yml

rename
  .azure-pipelines/tf-force-unlock-prod.yml
Due: none

Seperate resources into distinct repos
  .azure-pipelines/aci-build-agent.yml
  .azure-pipelines/subscription-vending-machine.yml
  .azure-pipelines/tf-force-unlock-prod.yml
  .azure-pipelines/tf-plan-apply-prod.yml
  .terraform.lock.hcl
  README.md
  bootstrap/README.md
  buildagent/Dockerfile
  buildagent/README.md
  buildagent/start.sh
  main.tf
Due: .azure-pipelines/aci-build-agent.yml, .azure-pipelines/tf-plan-apply-prod.yml

Add comments to resources and variables
  bootstrap/.gitignore
  bootstrap/azuredevops_agent_pool.tf
  bootstrap/azuredevops_agent_queue.tf
  bootstrap/azuredevops_build_definition_aci.tf
  bootstrap/azuredevops_git_repository_buildagent.tf
  bootstrap/azuredevops_git_repository_eslz.tf
  bootstrap/azuredevops_project.tf
  bootstrap/azuredevops_serviceendpoints.tf
  bootstrap/azurerm.tf
  bootstrap/azurerm_container_group.tf
  bootstrap/azurerm_container_registry.tf
  bootstrap/azurerm_key_vault.tf
  bootstrap/azurerm_random_id.tf
  bootstrap/azurerm_resource_group.tf
  bootstrap/azurerm_role_assignment_acr.tf
  bootstrap/azurerm_role_assignment_key_vault.tf
  bootstrap/azurerm_role_assignment_root.tf
  bootstrap/azurerm_role_assignment_storage.tf
  bootstrap/azurerm_storage_account.tf
  bootstrap/azurerm_storage_container.tf
  bootstrap/azurerm_user_assigned_identity_aci.tf
  bootstrap/variables_azuredevops.tf
  bootstrap/variables_azurerm.tf
Due: .azure-pipelines/tf-plan-apply-prod.yml

Updated README.md
  README.md
Due: .azure-pipelines/tf-plan-apply-prod.yml

Update README.md
  README.md
Due: .azure-pipelines/tf-plan-apply-prod.yml

Create LICENSE
  LICENSE
Due: .azure-pipelines/tf-plan-apply-prod.yml

Move to GitHub and other updates
  bootstrap/.terraform.lock.hcl
  bootstrap/azuredevops_build_definition_terraform_plan_apply.tf
  bootstrap/azuredevops_git_repository_buildagent.tf
  bootstrap/azuredevops_git_repository_eslz.tf
  bootstrap/azurerm_container_registry.tf
  bootstrap/azurerm_key_vault.tf
  bootstrap/azurerm_role_assignment_key_vault.tf
  bootstrap/main.tf
Due: .azure-pipelines/tf-plan-apply-prod.yml

Update vars for GitHub
  bootstrap/variables_azuredevops.tf
Due: .azure-pipelines/tf-plan-apply-prod.yml

Set theme jekyll-theme-cayman
  docs/_config.yml
  docs/index.md
Due: .azure-pipelines/tf-plan-apply-prod.yml

Update _config.yml
  docs/_config.yml
Due: .azure-pipelines/tf-plan-apply-prod.yml

Update index.md
  docs/index.md
Due: .azure-pipelines/tf-plan-apply-prod.yml

Refactor bootstrap process
  README.md
  azuredevops.auto.tfvars
  azuredevops_agent_pool.tf
  azuredevops_agent_queue.tf
  azuredevops_build_definition_aci.tf
  azuredevops_build_definition_terraform.tf
  azuredevops_git_permissions_eslz.tf
  azuredevops_git_repository_buildagent.tf
  azuredevops_git_repository_eslz.tf
  azuredevops_project.tf
  azuredevops_serviceendpoints.tf
  bootstrap/.gitignore
  bootstrap/azuredevops.auto.tfvars
  bootstrap/azuredevops_build_definition_terraform_plan_apply.tf
  bootstrap/azuredevops_serviceendpoints.tf
  buildagent/.terraform.lock.hcl
  buildagent/README.md
  buildagent/azuread_service_principal.tf
  buildagent/azurerm.auto.tfvars
  buildagent/azurerm.tf
  buildagent/azurerm_container_group.tf
  buildagent/azurerm_container_registry.tf
  buildagent/azurerm_key_vault.tf
  buildagent/azurerm_random_id.tf
  buildagent/azurerm_resource_group.tf
  buildagent/azurerm_role_assignment_acr.tf
  buildagent/azurerm_role_assignment_key_vault.tf
  buildagent/azurerm_role_assignment_root.tf
  buildagent/azurerm_role_assignment_storage.tf
  buildagent/azurerm_storage_account.tf
  buildagent/azurerm_storage_container.tf
  buildagent/azurerm_user_assigned_identity_aci.tf
  buildagent/variables_azurerm.tf
  docs/configure-build-agents.md
  docs/index.md
  main.tf
  variables_azuredevops.tf
Due: .azure-pipelines/aci-build-agent.yml, .azure-pipelines/tf-plan-apply-prod.yml

md lint
  README.md
Due: .azure-pipelines/tf-plan-apply-prod.yml

Add build validation
  azuredevops_build_definition_terraform.tf
Due: .azure-pipelines/tf-plan-apply-prod.yml

Some updates
  .terraform.lock.hcl
  azuredevops.auto.tfvars
  azuredevops_agent_pool.tf
  azuredevops_agent_queue.tf
  azuredevops_branch_policy_build_validation.tf
  azuredevops_branch_policy_merge_types.tf
  azuredevops_build_definition_terraform.tf
  azuredevops_git_permissions_eslz.tf
  docs/configure-build-agents.md
  docs/configure-repos.md
  inputs.tf
  main.tf
Due: .azure-pipelines/tf-plan-apply-prod.yml

docs update
  docs/configure-build-agents.md
Due: .azure-pipelines/tf-plan-apply-prod.yml

add home links
  docs/configure-build-agents.md
  docs/configure-repos.md
Due: .azure-pipelines/tf-plan-apply-prod.yml

fix docs
  docs/index.md
Due: .azure-pipelines/tf-plan-apply-prod.yml

Updates
  azuredevops.auto.tfvars
  azuredevops_agent_pool.tf
  azuredevops_agent_queue.tf
  docs/configure-repos.md
Due: .azure-pipelines/tf-plan-apply-prod.yml

Add comment
  azuredevops_serviceendpoints.tf
Due: .azure-pipelines/tf-plan-apply-prod.yml

Remove TF build agent stuff
  buildagent/.terraform.lock.hcl
  buildagent/README.md
  buildagent/azuread_service_principal.tf
  buildagent/azurerm.auto.tfvars
  buildagent/azurerm.tf
  buildagent/azurerm_container_group.tf
  buildagent/azurerm_container_registry.tf
  buildagent/azurerm_key_vault.tf
  buildagent/azurerm_random_id.tf
  buildagent/azurerm_resource_group.tf
  buildagent/azurerm_role_assignment_acr.tf
  buildagent/azurerm_role_assignment_key_vault.tf
  buildagent/azurerm_role_assignment_root.tf
  buildagent/azurerm_role_assignment_storage.tf
  buildagent/azurerm_storage_account.tf
  buildagent/azurerm_storage_container.tf
  buildagent/azurerm_user_assigned_identity_aci.tf
  buildagent/variables_azurerm.tf
Due: .azure-pipelines/aci-build-agent.yml, .azure-pipelines/tf-plan-apply-prod.yml

Path conditions:
  .azure-pipelines/aci-build-agent.yml: any of: buildagent
  .azure-pipelines/tf-plan-apply-prod.yml: any file but: .azure-pipelines, readme.md
